body {
  font-family: sans-serif;
  background-color: rgb(28, 17, 33);
}
h1 {
  color: white;
  text-shadow:
    -2px -2px 1px rgb(0, 242, 234),
    2px 2px 1px rgb(255, 0, 80);
  font-size: 48px;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
p {
  color: white;
}
ol {
    color:white;
}
li {
    color:white;
}