body {
  margin: 10px;
  font-family: sans-serif;
  background-color: rgb(28, 17, 33);
  text-align:center;
}
h1 {
  color: white;
  text-shadow:
    -2px -2px 1px rgb(0, 242, 234),
    2px 2px 1px rgb(255, 0, 80);
  font-size: 48px;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
p, ol, ul, table {
  line-height:1.5;
  text-align:left;
  color: white;
  max-width:800px;
  margin: 0 auto 1em auto;
}
ol, ul {
  padding-left: 100px;
}
table {
  width:60%;
  border-collapse:collapse;
  margin: 0 auto 10px auto;
}
th, td {
  padding: 5px;
}
th {
  background-color:rgb(255, 0, 80);
  border: 1px solid white;
}
td {
  border: 1px solid white;
}
hr {
  border-color: rgb(28, 17, 33);
}